<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"></html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<form action="./output.html" method="get">
  <input type="text" name="val" id="get-form">
  <button type="submit">get送信</button>
</form>

<form action="./output.html" method="post">
  <input type="text" name="val" id="post-form">
  <button type="submit">post送信</button>
</form>
</body>
</html>
